<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD|HOME</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    
    <form method="post" action="/create" class="max-w-md mx-auto mt-20 p-6 bg-white border rounded-lg shadow-lg">
        <div class="container flex justify-center align-middle">
            <a href="/create" class="py-2 mt-2 mb-6 px-4 max-w-md  mx-4 flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">Add Yourself</a>
            <a href="/read-data" class="py-2 mt-2 mb-6 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">Read Data</a>
        </div>
        <h2 class="text-2xl font-bold mb-6">Add Yourself</h2>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="name">Name:</label>
            <input name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Enter your name">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="email">Email:</label>
            <input name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="phone">Phone Number:</label>
            <input name="phone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="text" placeholder="Enter your Phone">
        </div>


        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
    </form>


</body>
</html>